<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CS480 Demo</display-name>
    <servlet>
    <description></description>
    <display-name>Entity1ServletCreate</display-name>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <url-pattern>/Entity1ServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Entity1ServletRead</display-name>
    <servlet-name>Entity1ServletRead</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletRead</servlet-name>
    <url-pattern>/Entity1ServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletUpdate</display-name>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <url-pattern>/Entity1ServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletDelete</display-name>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <url-pattern>/Entity1ServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>InitializeDB</display-name>
    <servlet-name>InitializeDB</servlet-name>
    <servlet-class>init.web.servlet.InitializeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeDB</servlet-name>
    <url-pattern>/InitializeDB</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <description></description>
    <display-name>OrderServletCreate</display-name>
    <servlet-name>OrderServletCreate</servlet-name>
    <servlet-class>order.web.servlet.OrderServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServletCreate</servlet-name>
    <url-pattern>/OrderServletCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServletRead</display-name>
    <servlet-name>OrderServletRead</servlet-name>
    <servlet-class>order.web.servlet.OrderServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServletRead</servlet-name>
    <url-pattern>/OrderServletRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServletUpdate</display-name>
    <servlet-name>OrderServletUpdate</servlet-name>
    <servlet-class>order.web.servlet.OrderServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServletUpdate</servlet-name>
    <url-pattern>/OrderServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServletDelete</display-name>
    <servlet-name>OrderServletDelete</servlet-name>
    <servlet-class>order.web.servlet.OrderServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServletDelete</servlet-name>
    <url-pattern>/OrderServletDelete</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>CustomerServletCreate</display-name>
    <servlet-name>CustomerServletCreate</servlet-name>
    <servlet-class>customer.web.servlet.CustomerServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServletCreate</servlet-name>
    <url-pattern>/CustomerServletCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServletRead</display-name>
    <servlet-name>CustomerServletRead</servlet-name>
    <servlet-class>customer.web.servlet.CustomerServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServletRead</servlet-name>
    <url-pattern>/CustomerServletRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServletUpdate</display-name>
    <servlet-name>CustomerServletUpdate</servlet-name>
    <servlet-class>customer.web.servlet.CustomerServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServletUpdate</servlet-name>
    <url-pattern>/CustomerServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServletDelete</display-name>
    <servlet-name>CustomerServletDelete</servlet-name>
    <servlet-class>customer.web.servlet.CustomerServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServletDelete</servlet-name>
    <url-pattern>/CustomerServletDelete</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>MenuServletCreate</display-name>
    <servlet-name>MenuServletCreate</servlet-name>
    <servlet-class>menu.web.servlet.MenuServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServletCreate</servlet-name>
    <url-pattern>/MenuServletCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServletRead</display-name>
    <servlet-name>MenuServletRead</servlet-name>
    <servlet-class>menu.web.servlet.MenuServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServletRead</servlet-name>
    <url-pattern>/MenuServletRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServletUpdate</display-name>
    <servlet-name>MenuServletUpdate</servlet-name>
    <servlet-class>menu.web.servlet.MenuServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServletUpdate</servlet-name>
    <url-pattern>/MenuServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServletDelete</display-name>
    <servlet-name>MenuServletDelete</servlet-name>
    <servlet-class>menu.web.servlet.MenuServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServletDelete</servlet-name>
    <url-pattern>/MenuServletDelete</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>RestaurantServletCreate</display-name>
    <servlet-name>RestaurantServletCreate</servlet-name>
    <servlet-class>restaurant.web.servlet.RestaurantServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantServletCreate</servlet-name>
    <url-pattern>/RestaurantServletCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantServletRead</display-name>
    <servlet-name>RestaurantServletRead</servlet-name>
    <servlet-class>restaurant.web.servlet.RestaurantServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantServletRead</servlet-name>
    <url-pattern>/RestaurantServletRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantServletUpdate</display-name>
    <servlet-name>RestaurantServletUpdate</servlet-name>
    <servlet-class>restaurant.web.servlet.RestaurantServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantServletUpdate</servlet-name>
    <url-pattern>/RestaurantServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantServletDelete</display-name>
    <servlet-name>RestaurantServletDelete</servlet-name>
    <servlet-class>restaurant.web.servlet.RestaurantServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantServletDelete</servlet-name>
    <url-pattern>/RestaurantServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SupplierServletCreate</display-name>
    <servlet-name>SupplierServletCreate</servlet-name>
    <servlet-class>supplier.web.servlet.SupplierServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierServletCreate</servlet-name>
    <url-pattern>/SupplierServletCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierServletRead</display-name>
    <servlet-name>SupplierServletRead</servlet-name>
    <servlet-class>supplier.web.servlet.SupplierServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierServletRead</servlet-name>
    <url-pattern>/SupplierServletRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierServletUpdate</display-name>
    <servlet-name>SupplierServletUpdate</servlet-name>
    <servlet-class>supplier.web.servlet.SupplierServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierServletUpdate</servlet-name>
    <url-pattern>/SupplierServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierServletDelete</display-name>
    <servlet-name>SupplierServletDelete</servlet-name>
    <servlet-class>supplier.web.servlet.SupplierServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierServletDelete</servlet-name>
    <url-pattern>/SupplierServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>FoodWasteServletCreate</display-name>
    <servlet-name>FoodWasteServletCreate</servlet-name>
    <servlet-class>food_waste.web.servlet.FoodWasteServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodWasteServletCreate</servlet-name>
    <url-pattern>/FoodWasteServletCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodWasteServletRead</display-name>
    <servlet-name>FoodWasteServletRead</servlet-name>
    <servlet-class>food_waste.web.servlet.FoodWasteServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodWasteServletRead</servlet-name>
    <url-pattern>/FoodWasteServletRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodWasteServletUpdate</display-name>
    <servlet-name>FoodWasteServletUpdate</servlet-name>
    <servlet-class>food_waste.web.servlet.FoodWasteServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodWasteServletUpdate</servlet-name>
    <url-pattern>/FoodWasteServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodWasteServletDelete</display-name>
    <servlet-name>FoodWasteServletDelete</servlet-name>
    <servlet-class>food_waste.web.servlet.FoodWasteServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodWasteServletDelete</servlet-name>
    <url-pattern>/FoodWasteServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DumpsterServletCreate</display-name>
    <servlet-name>DumpsterServletCreate</servlet-name>
    <servlet-class>dumpster.web.servlet.DumpsterServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DumpsterServletCreate</servlet-name>
    <url-pattern>/DumpsterServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DumpsterServletRead</display-name>
    <servlet-name>DumpsterServletRead</servlet-name>
    <servlet-class>dumpster.web.servlet.DumpsterServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DumpsterServletRead</servlet-name>
    <url-pattern>/DumpsterServletRead</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>DumpsterServletUpdate</display-name>
    <servlet-name>DumpsterServletUpdate</servlet-name>
    <servlet-class>dumpster.web.servlet.DumpsterServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DumpsterServletUpdate</servlet-name>
    <url-pattern>/DumpsterServletUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DumpsterServletDelete</display-name>
    <servlet-name>DumpsterServletDelete</servlet-name>
    <servlet-class>dumpster.web.servlet.DumpsterServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DumpsterServletDelete</servlet-name>
    <url-pattern>/DumpsterServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GarbageTruckServletCreate</display-name>
    <servlet-name>GarbageTruckServletCreate</servlet-name>
    <servlet-class>garbage_truck.web.servlet.GarbageTruckServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GarbageTruckServletCreate</servlet-name>
    <url-pattern>/GarbageTruckServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GarbageTruckServletRead</display-name>
    <servlet-name>GarbageTruckServletRead</servlet-name>
    <servlet-class>garbage_truck.web.servlet.GarbageTruckServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GarbageTruckServletRead</servlet-name>
    <url-pattern>/GarbageTruckServletRead</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GarbageTruckServletUpdate</display-name>
    <servlet-name>GarbageTruckServletUpdate</servlet-name>
    <servlet-class>garbage_truck.web.servlet.GarbageTruckServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GarbageTruckServletUpdate</servlet-name>
    <url-pattern>/GarbageTruckServletUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GarbageTruckServletDelete</display-name>
    <servlet-name>GarbageTruckServletDelete</servlet-name>
    <servlet-class>garbage_truck.web.servlet.GarbageTruckServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GarbageTruckServletDelete</servlet-name>
    <url-pattern>/GarbageTruckServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>HighCustomers</display-name>
    <servlet-name>HighCustomers</servlet-name>
    
    <servlet-class>customer.web.servlet.HighCustomers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HighCustomers</servlet-name>
    <url-pattern>/HighCustomers</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ConcatCustomers</display-name>
    <servlet-name>ConcatCustomers</servlet-name>
    
    <servlet-class>customer.web.servlet.ConcatCustomers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConcatCustomers</servlet-name>
    <url-pattern>/ConcatCustomers</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>HighDumpsters</display-name>
    <servlet-name>HighDumpsters</servlet-name>
    
    <servlet-class>dumpster.web.servlet.HighDumpsters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HighDumpsters</servlet-name>
    <url-pattern>/HighDumpsters</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>FoodWasteTruck</display-name>
    <servlet-name>FoodWasteTruck</servlet-name>
    
    <servlet-class>food_waste.web.servlet.FoodWasteTruck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodWasteTruck</servlet-name>
    <url-pattern>/FoodWasteTruck</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LowFoodWaste</display-name>
    <servlet-name>LowFoodWaste</servlet-name>
    
    <servlet-class>food_waste.web.servlet.LowFoodWaste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LowFoodWaste</servlet-name>
    <url-pattern>/LowFoodWaste</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LowTruck</display-name>
    <servlet-name>LowTruck</servlet-name>
    
    <servlet-class>garbage_truck.web.servlet.LowTruck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LowTruck</servlet-name>
    <url-pattern>/LowTruck</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AvgTruckCapacity</display-name>
    <servlet-name>AvgTruckCapacity</servlet-name>
    
    <servlet-class>garbage_truck.web.servlet.AvgTruckCapacity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvgTruckCapacity</servlet-name>
    <url-pattern>/AvgTruckCapacity</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LowMenu</display-name>
    <servlet-name>LowMenu</servlet-name>
    
    <servlet-class>menu.web.servlet.LowMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LowMenu</servlet-name>
    <url-pattern>/LowMenu</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AvgWasteRestaurant</display-name>
    <servlet-name>AvgWasteRestaurant</servlet-name>
    
    <servlet-class>restaurant.web.servlet.AvgWasteRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvgWasteRestaurant</servlet-name>
    <url-pattern>/AvgWasteRestaurant</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ConcatRestaurant</display-name>
    <servlet-name>ConcatRestaurant</servlet-name>
    
    <servlet-class>restaurant.web.servlet.ConcatRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConcatRestaurant</servlet-name>
    <url-pattern>/ConcatRestaurant</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DateRestaurant</display-name>
    <servlet-name>DateRestaurant</servlet-name>
    
    <servlet-class>restaurant.web.servlet.DateRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateRestaurant</servlet-name>
    <url-pattern>/DateRestaurant</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LowSupplierCountRestaurant</display-name>
    <servlet-name>LowSupplierCountRestaurant</servlet-name>
    
    <servlet-class>restaurant.web.servlet.LowSupplierCountRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LowSupplierCountRestaurant</servlet-name>
    <url-pattern>/LowSupplierCountRestaurant</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
